<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="br.ufscar.REFARCH_KDM.ui.commands.ARFcategory"
            name="Architectural Refactoring">
      </category>
      <command
            categoryId="br.ufscar.REFARCH_KDM.ui.commands.ARFcategory"
            id="br.ufscar.REFARCH_KDM.ui.commands.ARFcommand"
            name="Architectural Refactoring Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="br.ufscar.REFARCH_KDM.handlers.ArchitecturalRefactoringHandler"
            commandId="br.ufscar.REFARCH_KDM.ui.commands.ARFcommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="br.ufscar.REFARCH_KDM.ui.menus.ARFmenu"
               label="Architectural Reconciliation">
            <command
                  commandId="br.ufscar.REFARCH_KDM.ui.commands.ARFcommand"
                  id="br.ufscar.REFARCH_KDM.ui.menus.ARFcommand"
                  label="Architectural Refactoring Wizard">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
